@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<section  class="main-post margin">
    @if (Model.MainPost != null) {
    <div class="main-post-item">
        <img onclick="goToPost(@Model.MainPost?.ID)" src="../img/@Model.MainPost.ThumbImage.Path" class="cursor-pointer promo-img" />
        <div class="margin">
            <h3>@Model.MainPost.Category.Name</h3>
            <h1>@Model.MainPost.Title</h1>
            <p>@Model.MainPost.Description</p>
            <div class="wrap gray-text">
                <a href="Home/Post/@Model.MainPost.ID#add-comment-form">LEAVE A COMMENT</a>
            </div>
        </div>
    </div>
    }
</section>

<section class="posts-container margin">
    @foreach ( var post in Model.TopPosts ) {
        <div class="post-item" onclick="goToPost(@post.ID)">
            <div style="background-image: url('../img/@post.ThumbImage.Path')" class="image-thumbnail"></div>
            <h3>@post.Category.Name</h3>
            <h1>@post.Title</h1>
            <p>@post.Description.Substring(0, Math.Min(post.Description.Length, 150))</p>
        </div>
    }
</section>

<section class="email-singup background-gray">
    <div class="wrapper">
        <h1 class="black-text">Sing up for our newsletter!</h1>
        <div class="bottom-line">
            <form asp-action="SubscribeToNewsletter" method="post" asp-controller="Home">
                <input placeholder="Enter a valid email address" />
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</section>

<section class="flex-center margin">
    <div>
        <div class=" other-posts fixed-width posts-container">
            @foreach ( var post in Model.OtherPosts ) {
                <div class="post-item" onclick="goToPost(@post.ID)">
                    <div style="background-image: url('../img/@post.ThumbImage.Path')" class="image-thumbnail"></div>
                    <h3>@post.Category.Name</h3>
                    <h1>@post.Title</h1>
                    <p>@post.Description.Substring(0, Math.Min(post.Description.Length, 150))</p>
                </div>
            }
        </div>
        <div id="loadMorePostLoadingSpinner" class="loading-spinner collapsed">
            <img src="~/svg-loaders/three-dots.svg" alt="loading...">
        </div>
        <div class="padding-to-center">
            <button class="btn" id="loadMoreBtn" onclick="loadMorePosts()">Load more</button>
        </div>
    </div>
    
</section>
